services:
  # API Server với dữ liệu demo
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: football_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production

  # Frontend web application
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: football_frontend
    restart: always
    depends_on:
      - api
    ports:
      - "8080:80"
